<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Clean</title>
    <link rel="stylesheet" href="/style">
</head>
<body>
    <header>
        <h1>Planet Clean</h1>
        <nav>
            <li>Home</li>
            <li>Pledege</li>
            <li>About</li>
            <li>Contact</li>
            <a class="libut" href="/login">Login</a>
            <a class="libut" href="/signup">Signup</a>
        </nav>
    </header>
    <div class="main">
        <div class="content">


        </div>  


    </div>
</body>
</html>